* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #272727;
    touch-action: manipulation;
}

/* global Style */
.container {
    width: 1640px;
    margin: 0 auto;
}

.titlePage {
    font-size: 60px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 1.25rem;
}

.textPage {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    padding-right: 15px;
    line-height: 1.5;
    margin-bottom: 2rem;
    opacity: .6;
}

.btnPage {
    padding: 1.50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #05A52F 6px;
    border-radius: 12px;
    color: #fff;
    text-decoration: none;
    width: 71%;
    margin-bottom: 2rem;
}

.btnPage:hover {
    background-color: #05A52F;
}

.btnPage p {
    font-size: 33px;
    margin-right: 1.25rem;
}

.linkHero {
    display: flex;
}

.linkHero svg:first-child {
    margin-right: 1rem;
    margin-left: 0.75rem;
}

input[type="checkbox"] {
    accent-color: #4a4242;
}

/* style page 1 */

.coverImg {
    background-image: url('../imgs/page-1/background.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.coverImg .boldImg {
    background-color: #000000c4;
    width: 100%;
    height: 100%;
}

.container-ofBirth {
    display: grid;
    place-items: center;
    height: 100vh;
}

.container-ofBirth .birth {
    background-color: rgba(25, 27, 32, 1);
    padding: 80px 71.5px 125px 79px;
    z-index: 10;
    border-radius: 12px;
}

.container-ofBirth .birth .logo1 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container-ofBirth .birth h5 {
    font-size: 32px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin-top: 46px;
}

.container-ofBirth .birth .form-birth {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 68px 0;
}

.container-ofBirth .birth .form-birth input,
.container-ofBirth .birth .form-birth select {
    background-color: transparent;
    color: #fff;
    border: #05A52F solid 0.5px;
    border-radius: 7px;
    text-align: center;
    padding: 37px 0px;
    width: 189px;
    font-size: 32px;
}

.container-ofBirth .birth .form-birth select:first-child {
    margin-left: 11px;
}

.container-ofBirth .birth .form-birth select:nth-child(2) {
    margin-right: 77px;
    margin-left: 58px;
}

.birth .qusBirth {
    color: #FFF;
    font-size: 24px;
    display: block;
    font-weight: 400;
    transition: all 0.5s;
}

.birth .qusBirth:hover {
    color: #45ff76;
}

.birth .continueBtn {
    display: flex;
    justify-content: center;
}

.birth .continueBtn .continue {
    width: 90%;
    margin-top: 125px;
    margin-bottom: 31px;
    font-size: 32px;
    background-color: #05A52F;
    padding: 28px 0;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    transition: all 0.5s;
}

.birth .continueBtn .continue:hover {
    background-color: #00631a;
}

.birth .continueBtn .continue a {
    color: #fff;
    text-decoration: none;
}

.birth p {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.birth .account-sign a {
    color: #fff;
    transition: all 0.5s;
}

.birth .account-sign a:hover {
    color: #45ff76;
}

/* End Style Page 1 */
/*********************/
/* Start Style Page 2 */

.birth.signUp {
    padding: 85px 85px 71.5px;
}

.signUp .titleSign {
    width: 694px;
    font-size: 23px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin-bottom: 57.5px;
    text-transform: capitalize;
}

.signUp .controlForm.selectControl {
    position: relative;
}

.signUp .controlForm.selectControl label {
    font-size: 16px;
    color: #686868;
    position: absolute;
    left: 19.5px;
    top: 6px;
}

.signUp .controlForm.selectControl .form-select {
    padding: 28px 19.5px 27px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
}

.signUp .controlForm.selectControl .form-select option {
    font-weight: 400;
    color: black;
}

.signUp .rowForm {
    display: flex;
}

.signUp .rowForm .controlForm {
    width: 50%;
}

.signUp .rowForm .controlForm:first-child {
    margin-right: 22.5px;
}

.signUp .rowForm .controlForm:last-child {
    margin-left: 22.5px;
}

.signUp .controlForm .form-select,
.signUp .controlForm input {
    width: 100%;
    padding: 27px 19.5px 28px;
    margin-bottom: 16px;
    background-color: transparent;
    border: solid #05A52F 0.5px;
    border-radius: 7px;
    transition: all 0.5s;
    font-size: 20px;
    color: #fff;
}

.signUp .controlForm .form-select:focus,
.signUp .controlForm input:focus {
    outline: none;
    border-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.signUp .checkboxForm .boxControl {
    display: flex;
}

.signUp .checkboxForm .boxControl:first-child {
    margin-bottom: 20px;
    margin-top: 11px;
}

.signUp .checkboxForm .boxControl input {
    width: 37px;
    height: 37px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 10px;
}

.signUp .checkboxForm .boxControl label {
    font-size: 20px;
    color: #B2B1B1;
}

.signUp .continueBtn.cue-login .continue {
    margin-top: 44px;
    padding: 26px;
    font-size: 20px;
}

/* End Style Page 2 */
/* /////////////////////////// */
/* Start Style Page 3 */

.signUp .form .controlForm {}

.signUp .form .controlForm #email {
    margin-top: 40px;
    margin-bottom: 21px;
    font-size: 32px;
}

.signUp .form .controlForm #pass {
    margin-bottom: 21.5px;
    font-size: 32px;
}

.signUp .passData {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signUp .passData .remember {
    display: flex;
    align-items: center;
}

.signUp .passData .remember p {
    margin-left: 10px;
}

.signUp .passData .forget a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.5s;
}

.signUp .passData .forget a:hover {
    color: #05A52F;
}

.signUp .continueBtn.signIn-cue .continue {
    margin-top: 50px;
}

.signUp .signAbout .titleOr {
    color: #05A52F;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.signUp .signAbout .titleOr::before {
    content: "";
    width: 214.937px;
    height: 0.14px;
    position: absolute;
    left: 100px;
    background-color: #707070;
}

.signUp .signAbout .titleOr::after {
    content: "";
    width: 214.937px;
    height: 0.14px;
    position: absolute;
    right: 100px;
    background-color: #707070;
}

.signUp .signAbout .social {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.signUp .signAbout .social .media.iphone {
    margin: 0 68px;
}

.signUp .signAbout .social .media svg {
    transition: all 0.5s;
}

.signUp .signAbout .social .media svg:hover {
    transform: scale(1.2);
}

.signUp .signAbout {
    width: 694px;
}

/* End Style Page 3 */




/* check box style 1 to 3 page */
#colorChangeDiv {
    width: 37px;
    height: 37px;
    background-color: gray;
    color: white;
    text-align: center;
    line-height: 37px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
    color: gray;
    font-size: 25px;
    font-weight: bold;
    /* sadas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

/* page 4 */
/* header  */
.heroSection {
    height: 100vh;
    position: relative;
}

.header .headerRow {
    position: relative;
    z-index: 1130;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 42px;
    padding-bottom: 72px;
}

.header .headerRow .nav .navbar {
    display: flex;
    align-items: center;
}

.header .headerRow .nav .navbar .listNav {
    list-style: none;
    font-size: 20px;
}

.header .headerRow .nav .navbar .listNav:not(:last-child) {
    margin-right: 4.75rem;
}

.header .headerRow .nav .navbar .listNav .linkNav {
    color: #fff;
    text-decoration: none;
    opacity: .5;
    transition: all 0.5s;
}

.header .headerRow .nav .navbar .listNav .linkNav.active {
    padding-bottom: 3px;
    border-bottom: solid #00FF44 3px;
    font-size: 22px;
    color: #FFF;
    opacity: 1;
}

.header .headerRow .nav .navbar:hover .listNav .linkNav {
    opacity: 0.7;
}

.header .headerRow .nav .navbar .listNav .linkNav:hover {
    padding-bottom: 3px;
    border-bottom: solid #05A52F 2px;
    opacity: 1 !important;
    font-size: 23px;
    color: #FFF;
}

.header .headerRow .linkHeader {
    display: flex;
}

.header .headerRow .linkHeader .market {
    position: relative;
    margin: 0 70px;
}

.header .headerRow .linkHeader .market .circleGreen {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: #05A52F;
    border-radius: 50%;
}

.header .headerRow .linkHeader .profile .imgProfile {
    border-radius: 50%;
    outline: solid #686868 2px;
}

.hero {
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1020;
}

.hero .heroContent {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.hero .heroContent .discHero {
    width: 41%;
    flex: 0 0 41%;
}

.hero .heroContent .discHero .titlePage {
    margin-bottom: 1.25rem;
}

.hero .heroContent .sliderHero {
    width: 59%;
    flex: 0 0 59%;
    position: relative;
}

.hero .heroContent .sliderHero .ellImg {
    position: absolute;
    bottom: -110px;
    right: -120px;
    z-index: -1;
}

.slider-container {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slider-container .slider {
    display: flex;
    transition: transform 0.3s ease;
}

.slider-container .slider .imgSlider {
    width: 100%;
}

.slider-container .slider img {
    height: auto;
    z-index: 1002;
}

.slider-container .buttonHero {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.slider-container .buttonHero button {
    margin: 5px;
    width: 12px;
    height: 12px;
    border: none;
    background-color: #686868;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1000;
}

button.active {
    background-color: #05A52F !important;
}

.container-img {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.container-img .imgPage {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container-img .imgPage .imgVisit {
    width: 20%;
    transform: translatey(20%);

}

.container-img .imgPage .imgVisit img {
    width: 100%;
    transition: transform 0.3s ease;
    transform: scale(1.03);
    cursor: pointer;
}

.container-img .imgPage .imgVisit:target img {
    transform: scale(15);
}

.container-img .imgPage .imgVisit img:hover {
    transform: scale(1.05);
}

.container-img .imgPage .imgVisit img:target {
    transform: scale(1.2);
}

/* page 5  */
.coverImga {
    background-image: url('../imgs/page-5/background.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.coverImga .boldImga {
    background-color: #000000dc;
    opacity: .1;
    width: 100%;
    height: 100%;
}

.textPagea {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    padding-right: 165px;
    line-height: 1.5;
    margin-bottom: 2rem;
    opacity: .6;
}

.btnPagea {
    padding: 1.50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #05A52F 6px;
    border-radius: 12px;
    color: #fff;
    text-decoration: none;
    width: 71%;
    margin-bottom: 2rem;
}

.btnPagea:hover {
    background-color: #05A52F;
}

.btnPagea p {
    font-size: 30px;
    margin-right: 1.25rem;
}

.hero .heroContenta {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transform: translatey(50%)
}

.hero .heroContenta .discHero {
    width: 41%;
    flex: 0 0 41%;
}

.hero .heroContenta .discHero .titlePage {
    margin-bottom: 1.25rem;
}

.hero .heroContenta .sliderHero {
    width: 59%;
    flex: 0 0 59%;
    position: relative;
}

.hero .heroContenta .sliderHero .ellImg {
    position: absolute;
    bottom: -110px;
    right: -120px;
    z-index: -1;
}

.container-img .imgPage .visit {
    position: relative;
    width: 22%;
    transform: translatey(10px);
}

/* page 6 */


.coverImgaa {
    background-image: url('../imgs/page6/1151164.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.coverImgaa .boldImgaa {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
}

/* page 7 */

.coverImgaaa {
    background-image: url('../imgs/page-7/1168382.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.coverImgaaa .boldImgaaa {
    width: 100%;
    height: 100%;
    background-color: #171717;
    opacity: .7;
}


/* page 8 */

.coverImgaaaa {
    background-image: url('../imgs/page-8/1191164.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.coverImgaaaa .boldImgaaaa {
    width: 100%;
    height: 100%;
    background-color: #171717;
    opacity: .7;
}

.textPageaa {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
    opacity: .6;
}

/* page 9 */

.coverImgaaaaa {
    background-image: url('../imgs/page-9/thumb-1920-1151249.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.coverImgaaaaa .boldImgaaaaa {
    width: 100%;
    height: 100%;
    background-color: #171717;
    opacity: .7;
}

/* page about */

.coverImgb {
    background-image: url('../imgs/about/section.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.coverImgb .boldImgb {
    background-color: #000000c4;
    opacity: .2;
    width: 100%;
    height: 100%;
}


.hero .container .heroContentb {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 312.01px;
    width: 44.5625rem;
    height: 5rem;
    flex-shrink: 0;
}

.hero .container .heroContentb .aboutTitel {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero .container .heroContentb .aboutPra {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero .container .our {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 130px 0;
    text-align: center;
}

.hero .group-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1920px;
}

.hero .card {
    width: 25.97463rem;
    height: 47rem;
    flex-shrink: 0;
    background-color: #141B24;
    margin: 51px;
    border-radius: 20px;
    flex-shrink: 0;

}

.hero .card img {
    position: relative;
}

.hero .card .content {
    padding: 3.81rem 2.563rem 1.4rem 2.54rem;
}

.hero .card .title {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 1.4rem;

}

.hero .card .content .textCard {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero .container .title-medel {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 3.287rem;
    margin-bottom: 2rem;
}

.hero .container .gameHumGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5.938rem;
}


.hero .container .gameHumGroup .gameTitle {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 1.14rem;
    margin-top: 4.2rem;
}

.hero .container .gameHumGroup .game {
    width: calc(100%/3);
    padding: 0 120px;
    margin: 5px;
}

.hero .container .gameHumGroup .game-summery {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 6.25rem;
}

.container-Apply {
    background-color: #333333;
    border-radius: 20px;
    margin-top: 5.938rem;
    width: 1900px;
    height: 432.17px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.container-Apply .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4.375rem auto;

}

.container-Apply .center .group-apply p {
    text-align: center;
    color: #FFF;
}

.container-Apply .center .group-apply .title-apply {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 2.3125rem;
    font-weight: 400;
}

.container-Apply .center button {
    width: 18.08788rem;
    height: 3.749rem;
    background-color: #0078F2;
    border-radius: 20px;
    margin-top: 4.169rem;
    margin-bottom: 1.938rem;
    color: #FFF;
    font-family: Segoe UI;
    font-size: 0.8125rem;
    font-weight: 400;
    text-transform: uppercase;
}

.container-Apply .center .group-apply .body-apply {
    color: #0AAFF1;
    font-family: Segoe UI;
    font-size: 0.9625rem;
    font-weight: 400;
    margin: 0.688rem;

}

.footer {
    margin-top: 9.3rem;
    margin-left: auto;
    margin-right: auto;
    width: 1902px;
}

/* Games page */

.GamesImg {
    background-image: url('../imgs/games/12738.jpg.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.GamesImg .boldImg {
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: .2;
}

.hero .container .heroContentb .gamesTitel {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.5625rem;
    font-weight: 400;
}

.hero .container .heroContentb .gamesPrice {
    display: flex;
    margin-top: 0.469rem;
}

#discount {
    border-radius: 9.8px 4.9px;
    background-color: #0B852B;
    margin-right: 1.375rem;
    padding: 7px 30px;
    color: #FFF;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.regularPrice {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 2.5rem;
    font-weight: 400;
}

.a {
    height: 4.25806rem;
    transform: rotate(0.974deg);
    background-color: #272727;
}

.heroe .container #heroContent {
    margin-top: 5.8rem;
}

.heroe .container .heroContent .herder {
    display: flex;
    justify-content: space-between;
    z-index: 11300;
    margin-top: 41px;
}

.heroe .container .heroContent .herder .trending {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.5625rem;
    font-weight: 400;
}

.heroe .container .heroContent .herder button {
    z-index: 1111;
    background-color: #3D3D3D;
    color: #FFF;
    padding: 12px 19px;
    border-radius: 35px;
    border-color: #3D3D3D;
    border: none;
}

.heroe .container .heroContent .imgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 11.9px;
}

.heroe .container .heroContent .imgContainer .imgBox {
    margin-bottom: 40px;
}

.heroe .container .heroContent .imgContainer .imgBox .game-name-price {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.heroe .container .heroContent .imgContainer .imgBox .game-name-price p {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.125rem;
    font-weight: 400;
}



.heroe .container .heroContent .imgContainer .imgBox .discount {
    position: relative;
    margin-top: -120px;
    margin-left: 19px;
}

.discount {
    border-radius: 9.8px 4.9px;
    background-color: #0B852B;
    padding: 7px 30px;
    color: #FFF;
    font-family: Inter;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.68813rem;
    height: 1.875rem;
    color: #FFF;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 700;
}

.heroe .rate {
    background-color: #101010;
    margin: 0 auto;
    margin-top: 4.71rex;
}

.heroe .rate .containerRate {
    display: flex;
    justify-content: center;
}

.heroe .rate .containerRate .Super {
    padding: 4.7rem;
    display: flex;
}

.heroe .rate .containerRate .Super p {
    color: #FFF;
    margin-left: 15.7px;
}

.heroe .rate .containerRate .Super .rateTitle {
    font-family: Segoe UI;
    font-size: 1.3125rem;
    font-weight: 400;
}

.heroe .rate .containerRate .Super .rateSammry {
    color: #909090;
    font-family: Segoe UI;
    font-size: 0.9375rem;
    font-weight: 400;
}

.ae {
    background-color: #323232;
    height: 20.625rem;
    margin-top: 135.4px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.ae .aa {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.ae .aa .stars {
    display: flex;
    justify-content: center;
    margin-bottom: 24.1px;
    margin-top: 59.1px;
}

.ae .aa img {
    position: relative;
    bottom: 28px;
}

.ae .aa .text-grupe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ae .aa .text-grupe p {
    color: #909090;
    width: 796px;
    text-align: center;
    color: #909090;
    font-family: Segoe UI;
    font-size: 1.1875rem;
    font-weight: 400;
}

.ae .aa .text-grupe .text-tow {
    margin-top: 1.19rem;
}

.ae .aa .text-grupe .text-three {
    background-color: #0B852B;
    padding: 18px 31px;
    width: 15.34569rem;
    height: 3.5rem;
    color: #FFF;
    font-family: Segoe UI;
    font-size: 0.9375rem;
    margin-top: 25.1px;
    border-radius: 12px;
}

.coments {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.coments .card {
    background-color: #323232;
    border-radius: 20px;
    margin-left: 33.7px;
}


.coments .card .card-title {
    display: flex;
    align-items: center;
    margin-top: 22.1px;
    margin-left: 25.1px;
}

.coments .card .card-title p {
    color: #FFF;
    margin-top: 8.1px;
    font-family: Inter;
}

.coments .card .card-title .title-group {
    margin-left: 16.9px;
}

.coments .card .card-text p {
    margin: 28.1px 25.1px 31px 25.1px;
    width: 260px;
    color: #909090;
    font-family: Segoe UI;
    font-size: 0.9375rem;
    font-weight: 400;
    font-family: Segoe UI;
}

.coments .card .crad-time p {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 0.8125rem;
    font-weight: 400;
    margin-left: 25.1px;
    margin-bottom: 21.8px;
    font-family: Segoe UI;
}

.title-Dying {
    color: #FFF;
    font-size: 0.9375rem;
    font-weight: 400;
    width: 172px;
}

.imgBackground .container {
    background-image: url(../imgs/games/13480.jpg.png);
    background-repeat: no-repeat;
    margin-top: 61.8px;
    display: flex;
    align-items: center;
    height: 100%;
    background-size: cover;
    width: 1627.23px;
    height: 634.09px;
}

.imgBackground .container p {
    color: #FFF;
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.625rem;
    font-weight: 400;
}

.imgBackground .container .Fi {
    margin-left: 227.7px;
}

.imgBackground .container .gamesPra {
    display: flex;
    align-items: center;
}

.imgBackground .container .gamesPra .price {
    margin-left: 23.2px;
}

.card-group .container .all-card {
    display: flex;
    gap: 33.9px;
    margin-top: 22.8px;
}

.card-group .container .all-card .card {
    width: 24.03669rem;
    height: 25.96488rem;
    background-color: #323232;
    border-radius: 26px;
}

.card-group .container .all-card .card svg {
    margin-top: 8.9px;
    margin-left: 40%;
}

.card-group .container .all-card .card p {
    color: #909090;
    font-family: Segoe UI;
    font-size: 0.9375rem;
    font-weight: 400;
    margin: 27px 25px 16.2px 25px;
}

.indie .container {
    position: relative;
}

.indie .container .indie-img {
    position: relative;
    margin-top: 50px;
}

.indie .container .indie-img .person {
    position: absolute;
    left: 188px;
    top: 70px;
}

.indie .container .games {
    width: 960px;
    position: absolute;
    top: 58px;
    right: 0;
}

.indie .container .games .header {
    display: flex;
    justify-content: space-between;
}

.indie .container .games .header .section-title {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.5625rem;
    font-weight: 400;
}

.indie .container .games .header button {
    background-color: #3D3D3D;
    color: #FFF;
    padding: 12px 19px;
    border-radius: 35px;
    border-color: #3D3D3D;
    border: none;
}

.indie .container .games .game-group {
    margin-top: 31.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.indie .container .games .game-group .game-img {
    margin-bottom: 22.1px;
    position: relative;
}

.indie .container .games .game-group .game-img .game-name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 412px;
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.indie .container .games .game-group .game-img .game-name-price p {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.125rem;
    font-weight: 400;
}

.indie .container .games .game-group .game-img .game-name-price .name {
    width: 50%;
}

.heroe .container .heroContent .categories-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.heroe .container .heroContent .categories-group .imgBox {
    position: relative;
    margin-top: 33.5px;
}

.heroe .container .heroContent .categories-group .imgBox p {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.5rem;
    font-weight: 400;
    position: absolute;
    top: 100px;
    left: 29px;
}

.heroe .container .heroContent .categories-group .imgBox .scond-img {
    position: absolute;
    right: -99px;
    bottom: 4px;
}

.heroe .container .heroContent .categories-group .imgBox .scond-img1 {
    position: absolute;
    right: 8px;
    bottom: -5px;
}

.heroe .container .heroContent .categories-group .imgBox .scond-img2 {
    position: absolute;
    right: 3px;
    bottom: -5px;
}

.heroe .container .heroContent .categories-group .imgBox .scond-img3 {
    position: absolute;
    right: 3px;
    bottom: -3px;
}

.heroe .container .heroContent .categories-group .imgBox .scond-img4 {
    position: absolute;
    right: 20px;
    bottom: 5px;
}

.heroe .container .heroContent .categories-group .imgBox .scond-img5 {
    position: absolute;
    right: 0px;
    bottom: 2px;
}

.heroe .container .heroContent .categories-group .imgBox .scond-img6 {
    position: absolute;
    right: 10px;
    bottom: -5px;
}

.heroe .container .heroContent .categories-group .imgBox .scond-img7 {
    position: absolute;
    right: 0px;
    bottom: 3px;
    overflow: hidden;
}

.imgBackgrounde .container {
    background-image: url(../imgs/games/51.png);
    background-repeat: no-repeat;
    margin-top: 61.8px;
    display: flex;
    align-items: center;
    height: 100%;
    background-size: cover;
    width: 1627.23px;
    height: 634.09px;
    border-radius: 20px;
}

.imgBackgrounde .container .text {
    margin-left: 178.4px;
}

.imgBackgrounde .container .text .text-title {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.625rem;
    font-weight: 400;
}

.imgBackgrounde .container .text .text-text {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.0625rem;
    font-weight: 400;
    width: 70%;
}

.imgBackgrounde .container .text button {
    background-color: #0B852B;
    color: #FFF;
    padding: 15px 106px;
    border-radius: 8px;
    margin-top: 30.5px;
    border: none;
}

/* new page */


.heroSectiona .header .container .content .Search-box {
    display: flex;
    align-items: center;
    background-color: #2D2D2D;
    width: 403px;
    height: 70px;
    border-radius: 40px;

}

.heroSectiona .header .container .content .Search-box svg {
    margin-left: 23px;
    opacity: .5;
}

.heroSectiona .header .container .content .Search-box p {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 12px;
    opacity: .7;
}

.heroSectiona .header .container .content .content-title {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 2.9375rem;
    font-weight: 400;
    margin-top: 2.69rem;
}

.heroSectiona .header .container .new-game-box {
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
}


.game-name {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.25rem;
    margin-top: 30.8px;
    margin-bottom: 17px;
}

.game-summery {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.875rem;
}

.game-text {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.5rem;
    margin-top: 23px;
    margin-bottom: 18px;
    opacity: .7;
}

.read-more {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.5rem;
    text-decoration-line: underline;
    cursor: pointer;
}

.allGames .container {
    margin-top: 141px;
    display: flex;
    flex-direction: column;
}

.allGames .container .game {
    display: flex;
    margin: 50px 0;
    position: relative;
}

.allGames .container .game .game-img .hover:hover{
    transform: scale(1.01);
    cursor: pointer;
}
.allGames .container .game::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -62px;
    width: 1640px;
    height: 2px;
    background-color: #707070;
}

.allGames .container .game .game-pro {
    margin-left: 20px
}

.allGames .container #gameone::before {
    content: "";
    position: absolute;
    top: -62px;
    width: 1640px;
    height: 2px;
    background-color: #707070;
}

.center{
    margin: 78px auto;
    cursor: pointer;
}

/* end */

/* Responsive */
@media screen and (max-width: 1366px) {
    .birth .logo1 svg {
        width: 70px;
        height: 70px;
    }

    .container-ofBirth .birth {
        padding: 30px 30px 50px;
        border-radius: 8px;
    }

    .container-ofBirth .birth h5 {
        width: 451px;
        font-size: 22px;
        margin-top: 25px;
    }

    .container-ofBirth .birth .form-birth {
        margin: 35px 0;
    }

    .container-ofBirth .birth .form-birth select:nth-child(2) {
        margin-right: 40px;
        margin-left: 40px;
    }

    .container-ofBirth .birth .form-birth input,
    .container-ofBirth .birth .form-birth select {
        padding: 25px 0px;
        font-size: 18px;
        width: 120px;
    }

    .birth .qusBirth {
        font-size: 15px;
    }

    .birth .continueBtn .continue {
        width: 80%;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 20px;
        padding: 15px 0;
        border-radius: 8px;
    }

    .birth p {
        font-size: 15px;
    }

    .birth .account-sign a {
        font-size: 13px;
        letter-spacing: 0.5px;
    }

    /* page 2 */
    .signUp .titleSign {
        width: 451px;
        font-size: 18px;
        margin-bottom: 1.75rem;
    }

    .signUp .controlForm.selectControl label {
        display: none;
    }

    .signUp .controlForm.selectControl .form-select {
        padding: 1rem;
        font-size: 14px;
        color: #686868;
        letter-spacing: 0;
    }

    .signUp .controlForm .form-select,
    .signUp .controlForm input {
        padding: 1rem;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .signUp .rowForm .controlForm:first-child {
        margin-right: 11px;
    }

    .signUp .rowForm .controlForm:last-child {
        margin-left: 11px;
    }

    .signUp .checkboxForm .boxControl:first-child {
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .signUp .checkboxForm .boxControl label {
        font-size: 15px;
    }

    .signUp .checkboxForm .boxControl input {
        width: 25px;
        height: 25px;
        margin-left: 10px;
        margin-right: 5px;
    }

    .signUp .continueBtn.cue-login .continue {
        margin-top: 20px;
        margin-bottom: 25px;
        padding: 15px;
    }

    /* page 3 */
    .signUp .form .controlForm #email {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 15px;
    }

    .signUp .form .controlForm #pass {
        margin-bottom: 11px;
        font-size: 15px;
    }

    .signUp .passData .forget a {
        font-size: 15px;
    }

    #colorChangeDiv {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 15px;
    }

    .signUp .continueBtn.signIn-cue .continue {
        margin-top: 25px;
    }

    .signUp .signAbout .titleOr {
        font-size: 16px;
    }

    .signUp .signAbout .titleOr::before {
        width: 140px;
        left: 66px;
    }

    .signUp .signAbout .titleOr::after {
        width: 140px;
        right: 66px;
    }

    .signUp .signAbout .social .media svg {
        width: 40px;
        height: 40px;
    }

    .signUp .signAbout .social .media.iphone {
        margin: 0 34px;
    }

    .signUp .signAbout {
        width: 451px;
    }
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 575px) {
    .container-ofBirth .birth h5 {
        font-size: 20px;
    }
}