* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* global Style */
.container{
    width: 1640px;
    margin: 0 auto;
}

.titlePage{
    font-size: 60px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 1.25rem;
}

.textPage{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    padding-right: 15px;
    line-height: 1.5;
    margin-bottom: 2rem;
    opacity: .6;
}

.btnPage{
    padding: 1.50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #05A52F 6px;
    border-radius: 12px;
    color: #fff;
    text-decoration: none;
    width: 71%;
    margin-bottom: 2rem;
}

.btnPage:hover{
    background-color: #05A52F;
}

.btnPage p{
    font-size: 33px;
    margin-right: 1.25rem;
}

.linkHero{
    display: flex;
}

.linkHero svg:first-child{
    margin-right: 1rem;
    margin-left: 0.75rem;
}

input[type="checkbox"]{
    accent-color: #4a4242;
}

/* style page 1 */

.coverImg {
    background-image: url('../imgs/page-1/background.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.coverImg .boldImg{
    background-color: #000000c4;
    width: 100%;
    height: 100%;
}

.container-ofBirth{
    display: grid;
    place-items: center;
    height: 100vh;
}

.container-ofBirth .birth{
    background-color: rgba(25, 27, 32, 1);
    padding: 80px 71.5px 125px 79px;
    z-index: 10;
    border-radius: 12px;
}

.container-ofBirth .birth .logo1 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container-ofBirth .birth h5{
    font-size: 32px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin-top: 46px;
}

.container-ofBirth .birth .form-birth{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 68px 0;
}

.container-ofBirth .birth .form-birth input ,
.container-ofBirth .birth .form-birth select {
    background-color: transparent;
    color: #fff;
    border: #05A52F solid 0.5px;
    border-radius: 7px;
    text-align: center;
    padding: 37px 0px;
    width: 189px;
    font-size: 32px;
}

.container-ofBirth .birth .form-birth select:first-child{
    margin-left: 11px;
}

.container-ofBirth .birth .form-birth select:nth-child(2){
    margin-right: 77px;
    margin-left: 58px;
}

.birth .qusBirth{
    color: #FFF;
    font-size: 24px;
    display: block;
    font-weight: 400;
    transition: all 0.5s;
}

.birth .qusBirth:hover{
    color: #45ff76;
}

.birth .continueBtn{
    display: flex;
    justify-content: center;
}

.birth .continueBtn .continue{
    width: 90%;
    margin-top: 125px;
    margin-bottom: 31px;
    font-size: 32px;
    background-color: #05A52F;
    padding: 28px 0;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    transition: all 0.5s;
}

.birth .continueBtn .continue:hover{
    background-color: #00631a;
}

.birth .continueBtn .continue a {
    color: #fff;
    text-decoration: none;
}

.birth p{
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.birth .account-sign a{
    color: #fff;
    transition: all 0.5s;
}

.birth .account-sign a:hover{
    color: #45ff76;
}

/* End Style Page 1 */
/*********************/
/* Start Style Page 2 */

.birth.signUp{
    padding: 85px 85px 71.5px;
}

.signUp .titleSign {
    width: 694px;
    font-size: 23px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin-bottom: 57.5px;
    text-transform: capitalize;
}

.signUp .controlForm.selectControl{
    position: relative;
}

.signUp .controlForm.selectControl label{
    font-size: 16px;
    color: #686868;
    position: absolute;
    left: 19.5px;
    top: 6px;
}

.signUp .controlForm.selectControl .form-select{
    padding: 28px 19.5px 27px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
}

.signUp .controlForm.selectControl .form-select option{
    font-weight: 400;
    color: black;
}

.signUp .rowForm{
    display: flex;
}

.signUp .rowForm .controlForm {
    width: 50%;
}

.signUp .rowForm .controlForm:first-child {
    margin-right: 22.5px;
}

.signUp .rowForm .controlForm:last-child {
    margin-left: 22.5px;
}

.signUp .controlForm .form-select,
.signUp .controlForm input {
    width: 100%;
    padding: 27px 19.5px 28px;
    margin-bottom: 16px;
    background-color: transparent;
    border: solid #05A52F 0.5px;
    border-radius: 7px;
    transition: all 0.5s;
    font-size: 20px;
    color: #fff;
}

.signUp .controlForm .form-select:focus,
.signUp .controlForm input:focus{
    outline: none;
    border-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.signUp .checkboxForm .boxControl{
    display: flex;
}

.signUp .checkboxForm .boxControl:first-child{
    margin-bottom: 20px;
    margin-top: 11px;
}

.signUp .checkboxForm .boxControl input{
    width: 37px;
    height: 37px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 10px;
}

.signUp .checkboxForm .boxControl label{
    font-size: 20px;
    color: #B2B1B1;
}

.signUp .continueBtn.cue-login .continue{
    margin-top: 44px;
    padding: 26px;
    font-size: 20px;
}

/* End Style Page 2 */
/* /////////////////////////// */
/* Start Style Page 3 */

.signUp .form .controlForm {

}
.signUp .form .controlForm #email {
    margin-top: 40px;
    margin-bottom: 21px;
    font-size: 32px;
}
.signUp .form .controlForm #pass {
    margin-bottom: 21.5px;
    font-size: 32px;
}
.signUp .passData{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signUp .passData .remember{
    display: flex;
    align-items: center;
}
.signUp .passData .remember p{
    margin-left: 10px;
}
.signUp .passData .forget a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.5s;
}
.signUp .passData .forget a:hover{
    color: #05A52F;
}
.signUp .continueBtn.signIn-cue .continue{
    margin-top: 50px;
}
.signUp .signAbout .titleOr{
    color: #05A52F;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.signUp .signAbout .titleOr::before{
    content: "";
    width: 214.937px;
    height: 0.14px;
    position: absolute;
    left: 100px;
    background-color: #707070;
}
.signUp .signAbout .titleOr::after{
    content: "";
    width: 214.937px;
    height: 0.14px;
    position: absolute;
    right: 100px;
    background-color: #707070;
}
.signUp .signAbout .social{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.signUp .signAbout .social .media.iphone{
    margin: 0 68px;
}
.signUp .signAbout .social .media svg{
    transition: all 0.5s;
}
.signUp .signAbout .social .media svg:hover{
    transform: scale(1.2);
}
.signUp .signAbout {
    width: 694px;
}

/* End Style Page 3 */




/* check box style 1 to 3 page */
#colorChangeDiv {
    width: 37px;
    height: 37px;
    background-color: gray;
    color: white;
    text-align: center;
    line-height: 37px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
    color: gray;
    font-size: 25px;
    font-weight: bold;
    /* sadas */
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
}
/* page 4 */
/* header  */
.heroSection{
    height: 100vh;
    position: relative;
}
.header .headerRow{
    position: relative;
    z-index: 1130;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 42px;
    padding-bottom: 72px;
}
.header .headerRow .nav .navbar{
    display: flex;
    align-items: center;
}
.header .headerRow .nav .navbar .listNav{
    list-style: none;
    font-size: 20px;
}
.header .headerRow .nav .navbar .listNav:not(:last-child){
    margin-right: 4.75rem;
}
.header .headerRow .nav .navbar .listNav .linkNav{
    color: #fff;
    text-decoration: none;
    opacity: .5;
    transition: all 0.5s;
}

.header .headerRow .nav .navbar .listNav .linkNav.active{
    padding-bottom: 3px;
    border-bottom: solid #00FF44 3px;
    font-size: 22px;
    color: #FFF;
    opacity: 1;
}
.header .headerRow .nav .navbar:hover .listNav .linkNav{
    opacity: 0.7;
}
.header .headerRow .nav .navbar .listNav .linkNav:hover{
    padding-bottom: 3px;
    border-bottom: solid #05A52F 2px;
    opacity: 1 !important;
    font-size:23px;
    color: #FFF;
}
.header .headerRow .linkHeader{
    display: flex;
}
.header .headerRow .linkHeader .market {
    position: relative;
    margin: 0 70px;
}
.header .headerRow .linkHeader .market .circleGreen{
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: #05A52F;
    border-radius: 50%;
}
.header .headerRow .linkHeader .profile .imgProfile{
    border-radius: 50%;
    outline: solid #686868 2px;
}
.hero{
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1020;
}
.hero .heroContent{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.hero .heroContent .discHero{
    width: 41%;
    flex: 0 0 41%;
}
.hero .heroContent .discHero .titlePage{
    margin-bottom: 1.25rem;
}
.hero .heroContent .sliderHero{
    width: 59%;
    flex: 0 0 59%;
    position: relative;
}
.hero .heroContent .sliderHero .ellImg{
    position: absolute;
    bottom: -110px;
    right: -120px;
    z-index: -1;
}

.slider-container {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slider-container .slider {
    display: flex;
    transition: transform 0.3s ease;
}
.slider-container .slider .imgSlider{
    width: 100%;
}
.slider-container .slider img {
    height: auto;
    z-index: 1002;
}

.slider-container .buttonHero {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.slider-container .buttonHero button {
    margin: 5px;
    width: 12px;
    height: 12px;
    border: none;
    background-color: #686868;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1000;
}
button.active {
    background-color: #05A52F !important;   
}
.container-img{
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
.container-img .imgPage{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.container-img .imgPage .imgVisit{
    width: 20%;
    transform: translatey(20%);

}
.container-img .imgPage .imgVisit img{
    width: 100%;
    transition: transform 0.3s ease;
    transform: scale(1.03);
    cursor: pointer;
}

.container-img .imgPage .imgVisit:target img{
    transform: scale(15);
}

.container-img .imgPage .imgVisit img:hover{
    transform: scale(1.05);
}

.container-img .imgPage .imgVisit img:target{
    transform: scale(1.2);
}

/* page 5  */
.coverImga {
    background-image: url('../imgs/page-5/background.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.coverImga .boldImga{
    background-color: #000000dc;
    opacity: .1;
    width: 100%;
    height: 100%;
}

.textPagea{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    padding-right: 165px;
    line-height: 1.5;
    margin-bottom: 2rem;
    opacity: .6;
}

.btnPagea{
    padding: 1.50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #05A52F 6px;
    border-radius: 12px;
    color: #fff;
    text-decoration: none;
    width: 71%;
    margin-bottom: 2rem;
}

.btnPagea:hover{
    background-color: #05A52F;
}

.btnPagea p{
    font-size: 30px;
    margin-right: 1.25rem;
}

.hero .heroContenta{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transform: translatey(50%)
}
.hero .heroContenta .discHero{
    width: 41%;
    flex: 0 0 41%;
}
.hero .heroContenta .discHero .titlePage{
    margin-bottom: 1.25rem;
}
.hero .heroContenta .sliderHero{
    width: 59%;
    flex: 0 0 59%;
    position: relative;
}
.hero .heroContenta .sliderHero .ellImg{
    position: absolute;
    bottom: -110px;
    right: -120px;
    z-index: -1;
}

.container-img .imgPage .visit{
    position: relative;
    width: 20%;
    transform: translatey(8px);
}

/* page 6 */


.coverImgaa {
    background-image: url('../imgs/page6/1151164.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.coverImgaa .boldImgaa{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7 ;
}

/* page 7 */

.coverImgaaa {
    background-image: url('../imgs/page-7/1168382.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.coverImgaaa .boldImgaaa{
    width: 100%;
    height: 100%;
    background-color: #171717;
    opacity: .7;
}


/* page 8 */

.coverImgaaaa {
    background-image: url('../imgs/page-8/1191164.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.coverImgaaaa .boldImgaaaa{
    width: 100%;
    height: 100%;
    background-color: #171717;
    opacity: .7;
}

.textPageaa{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
    opacity: .6;
}

/* page 9 */

.coverImgaaaaa {
    background-image: url('../imgs/page-9/thumb-1920-1151249.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.coverImgaaaaa .boldImgaaaaa{
    width: 100%;
    height: 100%;
    background-color: #171717;
    opacity: .7;
}

/* page about */

.hero .container .heroContentb{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 312.01px;
    width: 44.5625rem;
    height: 5rem;
    flex-shrink: 0;
}

.hero .container .heroContentb .aboutTitel{
    color: #FFF;
    font-family: Segoe UI;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero .container .heroContentb .aboutPra{
    color: #FFF;
    font-family: Segoe UI;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.coverImgb {
    background-image: url('../imgs/about/section.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.coverImgb .boldImgb{
    background-color: #000000c4;
    opacity: .2;
    width: 100%;
    height: 100%;
}



/* end */

/* Responsive */
@media screen and (max-width: 1366px){
    .birth .logo1 svg{
        width: 70px;
        height: 70px;
    }
    .container-ofBirth .birth {
        padding: 30px 30px 50px;
        border-radius: 8px;
    }
    .container-ofBirth .birth h5 {
        width: 451px;
        font-size: 22px;
        margin-top: 25px;
    }
    .container-ofBirth .birth .form-birth {
        margin: 35px 0;
    }
    .container-ofBirth .birth .form-birth select:nth-child(2){
        margin-right: 40px;
        margin-left: 40px;
    }
    .container-ofBirth .birth .form-birth input, .container-ofBirth .birth .form-birth select {
        padding: 25px 0px;
        font-size: 18px;
        width: 120px;
    }
    .birth .qusBirth {
        font-size: 15px;
    }
    .birth .continueBtn .continue {
        width: 80%;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 20px;
        padding: 15px 0;
        border-radius: 8px;
    }
    .birth p {
        font-size: 15px;
    }
    .birth .account-sign a {
        font-size: 13px;
        letter-spacing: 0.5px;
    }
    /* page 2 */
    .signUp .titleSign {
        width: 451px;
        font-size: 18px;
        margin-bottom: 1.75rem;
    }
    .signUp .controlForm.selectControl label {
        display: none;
    }
    .signUp .controlForm.selectControl .form-select {
        padding: 1rem;
        font-size: 14px;
        color: #686868;
        letter-spacing: 0;
    }
    .signUp .controlForm .form-select, .signUp .controlForm input {
        padding: 1rem;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .signUp .rowForm .controlForm:first-child {
        margin-right: 11px;
    }
    .signUp .rowForm .controlForm:last-child {
        margin-left: 11px;
    }
    .signUp .checkboxForm .boxControl:first-child {
        margin-bottom: 8px;
        margin-top: 8px;
    }
    .signUp .checkboxForm .boxControl label {
        font-size: 15px;
    }
    .signUp .checkboxForm .boxControl input {
        width: 25px;
        height: 25px;
        margin-left: 10px;
        margin-right: 5px;
    }
    .signUp .continueBtn.cue-login .continue {
        margin-top: 20px;
        margin-bottom: 25px;
        padding: 15px;
    }
    /* page 3 */
    .signUp .form .controlForm #email {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 15px;
    }
    .signUp .form .controlForm #pass {
        margin-bottom: 11px;
        font-size: 15px;
    }
    .signUp .passData .forget a {
        font-size: 15px;
    }
    #colorChangeDiv {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 15px;
    }
    .signUp .continueBtn.signIn-cue .continue {
        margin-top: 25px;
    }
    .signUp .signAbout .titleOr {
        font-size: 16px;
    }
    .signUp .signAbout .titleOr::before {
        width: 140px;
        left: 66px;
    }
    .signUp .signAbout .titleOr::after {
        width: 140px;
        right: 66px;
    }
    .signUp .signAbout .social .media svg{
        width: 40px;
        height: 40px;
    }
    .signUp .signAbout .social .media.iphone {
        margin: 0 34px;
    }
    .signUp .signAbout {
        width: 451px;
    }
}
@media (max-width: 1200px){
    
}
@media (max-width: 992px){

}
@media (max-width: 768px){

}
@media (max-width: 575px){
    .container-ofBirth .birth h5 {
        font-size: 20px;
    }
}